

body,h1,h2,h3,h4,h5,h6 {font-family: 'sans-serif';}




html {
    /* height: 100%; */
    line-height: 1.8;
}
#mtitle{
    padding: 0 1rem; 
    font-size: 2.2rem; 
    font-family: 'Black Han Sans', sans-serif;
    /* font-size: 0.1rem; */
}

#title{
    /* text-shadow:3px 3px 0 rgb(204, 136, 35); */
    /* padding: 0 1rem;  */
    font-size: 7rem; 
    font-family: 'Black Han Sans', 'sans-serif';
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    /* background-image: url("../img/heic0910e.jpg"); */
    /* min-height: 100%; */
}

div, h3, p, i, header, img {
  /* border: 1px solid black; */
}


/* SHOW DYNAMIC TAB */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* form 디자인  */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



@media(max-width:591px){
    #title{
        font-size: 3rem; 
    }

    #mtitle{
        font-size: 0rem;
    }
}